# use glob syntax.
syntax: glob
*.ser
*~
*.bak
#*.off
*.old
*.properties

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#speech binary files
resources/Washington_speech_files
